{% extends "main/shablon.html" %} 
{% block title %}Регистрация{% endblock title %} 
{% block content %}
<div class="row justify-content-md-start justify-content-center align-items-center">
  <div class="row align-items-center text-white col-lg-6 col-12 g-2">
    <div class="row justify-content-center align-items-center text p-0 m-0">
        <h1 class="title text-shadow p-0">Регистрация</h1>
        <div class="text-shadow p-0" style="font-size:larger;">
        Регистрация доступна толко по реферальной ссылке
        </div>
    </div>
    <form
      method="POST"
      class="row justify-content-center align-content-around bg-white text-black shadow form g-2 p-2 m-0"
    >
    <h1 class="title p-0">Отправьте заявку</h1>
    {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class="btn btn-lg btn-block button rounded-pill">
        Отправить
      </button>
    </form>
  </div>
</div>
{% endblock content %}
